{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Add Comment{% endblock%}

{% block content %}
    
    <h1>
        Modify Blogpost {{blog.title}}
    </h1>
    {% include 'BloggerBlogBundle:Blog:form.html.twig' with { 'form': form } %}
{% endblock %}