
<form method="POST" action="{{path("BloggerBlogBundle_blog_create")}}"
      class="blogger"
      {{ form_enctype(form) }}>

      {{ form_widget(form) }}
        <input type="submit" value="Submit">
    
</form>
