<article class="blog group">
    <header>
        <h2><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.title|slugify }) }}">{{ blog.title }}</a></h2>
    </header>

    {% if blog.image is not null %}
        <img src="{{ asset(['bundles/bloggerblog/images', blog.image]|join("/")) }}" />
    {% endif %}
    <div class="snippet group">
        <p>{{ blog.blog(500) }} ...</p>
        <p class="continue"><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.title|slugify }) }}">Continue reading...</a></p>
    </div>

    <div class="meta">
         <p>Comments: <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id, 'slug': blog.title|slugify }) }}#comments">{{ blog.comments|length }}</a></p>
         <p>Posted by <span class="highlight">{{ blog.author }}</span> 
                  on <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time> 
                  at {{ blog.created|date('h:iA') }}</p>
        <p>Tags: <span class="highlight">{{ blog.tags }}</span></p>
    </div>
</article>