{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
    <article class="blog group">
        <header>
            <h2>{{ blog.title }}</h2>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
        </header>
        
            {% if blog.image is not null %}
                <img src="{{ asset(['bundles/bloggerblog/images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
            {% endif %}
        
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>

    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
    </section>


    <section class="comments" id="comments">
        <h3>Add Comment</h3>
        {% render(controller('BloggerBlogBundle:Comment:new', { 'blog_id': blog.id })) %}
    </section>
{% endblock %}