{% extends "MkprodMkBundle::index.html.twig" %}
{% from "MkprodMkBundle:Util:buttonUtil.html.twig" import roundButton as roundButton %}


{%  block content %}





<div class="contentblock">
    <h1>Über</h1>
    <p>
       Hey! Wilkommen in meinem bescheidenen Heim. Hier können Sie persönliche 
       oder berufsbezogene Informationen finden, falls Sie mehr 
       <a href="about">über mich</a> oder meine 
       <a href="projects">Projekte</a> in Erfahrung bringen wollen.
    </p>
    <p>
        Zurzeit bin ich auf Arbeitssuche und ersuche Sie deswegen sich ein 
        kleines Momentchen zu nehmen um sich meine Unterlagen oder Projekte 
        durchzusehen.
    </p>
    <p>
        Ich würde mich um jede Frage oder Kritik freuen. Falls Sie welche 
        anfallen würde ich mich sehr darüber freuen wenn Sie mir eine 
        <a href="about#mail">Email</a> schicken würden.
    </p>
</div>


<div class="contentblock">
    {# {% macro roundButton(width, height, text, color, font_size, font_color, icon) %} #}
    <a href="{{path("mkprodmk_project_main")}}">
        {{ roundButton("100%",   "70px", "Projekte", "#343434", "2.2em",
                       "#CCCCCC", asset(icons.code))}}
    </a>
    <a href="{{ asset("bundles/mkprodmk/files/doc/cv/resume.pdf")}}">
        {{ roundButton("100%",   "70px", "Resume", "#892935", "2.2em", 
                       "#DDDDDD", asset(icons.pdf))}}
    </a>
    <a href="http://blog.qkprod.com">
        {{ roundButton("100%",   "70px", "Blog", "#003366", "2.2em",
                       "#CCCCCC", asset(icons.book))}}
    </a>    
    <a href="{{path("mkbundle_dev_show", {"devname":"michaelkargl"})}}#mail">
        {{ roundButton("100%",   "70px", "Kontakt", "#886644", "2.2em", 
                       "#DDDDDD", asset(icons.mail))}}
    </a>
</div>


{% endblock content %}
