<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" 
              href="{{ asset('favicon.ico') }}" />
        
        {# ========================= TITLE SECTION ========================== #}
        <title>
        {% block title %}
        {% endblock title %}
        </title>
         
        {# ====================== STYLESHEET SECTION ======================== #}
        {% block stylesheets %}
        {% endblock stylesheets%}
        
        {# ====================== JAVASCRIPT SECTION ======================== #}
        {% block javascripts_head %}
        {% endblock javascripts_head %}
    </head>
    
    
    <body>
        {# ====================== NAVIGATION SECTION ======================== #}
        <nav>
        {% block navigation %}
        {% endblock navigation %}    
        </nav>
        
        {# ======================== BANNER SECTION ========================== #}
           
        <div id="banner-wrapper">
            <div id="banner-inner" class="group">
            {% block banner %}
            {% endblock banner %}
            </div>
        </div>
        
        {# ======================= CONTENT SECTION ========================== #}
        <div id="wrapper" class="group">
        {% block content %}
        {% endblock content %}
        </div>
        
        {# ======================== FOOTER SECTION ========================== #}
        <footer>
        {% block footer %}
        {% endblock footer %}
        </footer>
            
        {# ====================== JAVASCRIPT SECTION ======================== #}
        {% block javascripts_body %}
        {% endblock javascripts_body %}
    </body>
</html>
