{% extends "MkprodMkBundle:Project:template.html.twig" %}
{% from "MkprodMkBundle:Util:imageUtil.html.twig" import prettyPhoto as prettyPhoto %}
{% from "MkprodMkBundle:Util:buttonUtil.html.twig" import roundButton as roundButton %}


{% block title %}
    Gasthof Gesslbauer
{% endblock title %}


{% block icons %}
    <img src="{{asset(icons.html)}}" class="icon" />
    <img src="{{asset(icons.css)}}"  class="icon" />
    <img src="{{asset(icons.js)}}"   class="icon" />
    <img src="{{asset(icons.aptana)}}" class="icon" />
    <img src="{{asset(icons.gimp)}}" class="icon" />
{% endblock icons %}


{% block desc %}
    <h2>Über</h2>
    <p>
        Ich durfte dem 300 jahre altem Gasthof dabei helfen Ihre Webpräsentation
        auf ein etwas moderneres Design umzustellen. Als Produkt der engen 
        Zusammenarbeit wurden Flyer und diese Homepage designed.
    </p>
{% endblock desc %}


{% block screenshots %}
    {% set photos = [
        "bundles/mkprodmk/images/screenshots/gesslbauer/main.png",
        "bundles/mkprodmk/images/screenshots/gesslbauer/winter.png",
        "bundles/mkprodmk/images/screenshots/gesslbauer/contact.png"
    ] %}
    {% for photo in photos %}
        {{ prettyPhoto(photo)}}
    {% endfor %}
{% endblock screenshots %}


{% block buttons %}
     <a href="http://gasthof-gesslbauer.at/">
        {{ roundButton("100%",   "40px", "gasthof-gesslbauer.at", "#a2b6bf", "1.2em",
                       "#000000", asset(icons.globe))}}
    </a>
    
    <a href="mailto:michaelkargl@qkprod.com">
        {{ roundButton("100%",   "40px", "michaelkargl@qkprod.com", "#886644", "1.2em", 
                       "#DDDDDD", asset(icons.mail))}}
    </a>
{% endblock buttons %}
    
    

