{% extends "MkprodMkBundle::index.html.twig" %}

            

{# =========================== CONTENT SECTION ============================== #}
{% block content %}
      <a href="{{path("mkprodmk_project_show", {"project":"wallbasey"})}}">
        <img src="{{asset("bundles/mkprodmk/images/banner/wallbasey_tall.png")}}" class="banner" />
      </a>
      <a href="{{path("mkprodmk_project_show", {"project":"youtubedl"})}}">
        <img src="{{asset("bundles/mkprodmk/images/banner/youtube-dl.png")}}" class="banner" />
      </a>
      <a href="{{path("mkprodmk_project_show", {"project":"gesslbauer"})}}">
        <img src="{{asset("bundles/mkprodmk/images/banner/gesslbauer.png")}}" class="banner" />
      </a>
    


      <div class="contentblock">
          <h1>Digitales Klassenbuch</h1>
          <p>
              Um den Schulalltag zu erleichtern entwickelten wir, im Rahmen 
              eines Teamprojektes, ein digitales Klassenbuch für
              Lehrkräfte.
          </p>
          
          <h2>Features:</h2>
          <ul>
              <li>Manage mehrere Schulen</li>
              <li>Zentrale Datenbank für Standortunabhängigkeit</li>
              <li>Zugriff über Webinterface</li>
              <li>Arbeite offline und Synchronisiere später</li>
              <li>Erstelle Sitzpläne für Klassen</li>
              <li>Gib den Schülern Noten</li>
              <li>Update über einen Klick</li>
              <li>Intuitive Benutzeroberfläche mithilfe des 
                  <a href="https://en.wikipedia.org/wiki/Ribbon_interface">Ribbon-interfaces</a></li>
              <li>Intuitiver Hilfemechanismus</li>
          </ul>
      </div>
      
      
      <div class="contentblock">
          <a href="{{path("mkprodmk_project_show", {"project":"regressy"})}}">
              <h1>Planungsphase: Regressy</h1>
          </a>
          <p>
              Diese Applikation soll dabei helfen eine große Vielzahl an Aktivitäten, 
              unter Kontrolle zu bringen, zu visualisieren und zur schau zu 
              stellen. 
          </p>
          
          <h2>Features:</h2>
          <ul>
              <li>Verfolge deine Fortschritten in Aktivitäten</li>
              <li>Manage eine Vielzahl an Typen (Filme, Bücher, Podcasts, Code,...)</li>
              <li>Präsentiere deinen Fortschritt durch Webprofil</li>
              <li>Zeitmanagement</li>
              <li>Funmeter</li>
              <li>Kommentiere und tausche dich mit anderen Usern aus</li>
              <li>...</li>
          </ul>
      </div>
      
      
      
      
      
{% endblock content %}
