{% extends "MkprodMkBundle:Project:template.html.twig" %}
{% from "MkprodMkBundle:Util:imageUtil.html.twig" import prettyPhoto as prettyPhoto %}
{% from "MkprodMkBundle:Util:buttonUtil.html.twig" import roundButton as roundButton %}



{% block icons %}
      <img src="{{asset(icons.java)}}" class="icon" />
{% endblock icons %}
    
    
{% block desc %}
    <h1>Regressy</h1>
    <em><p>Zur Zeit in Planungsphase</p></em>
    <p>
        Das Internet bietet die Möglichkeit Resourcen in Echtzeit zur 
        Verfügung zu stellen. Die schiere Vielfalt an Aktivitäten kann 
        sehr schnell überwältigend werden. Außerdem wurden, durch die 
        Bereitstellung von digitalen Inhalten (Filme, Bücher), physische 
        Regale wegrationalisiert.
    </p>
    <p>
        Diese Applikation soll dabei helfen eine große Vielzahl an Aktivitäten, 
        unter Kontrolle zu bringen, zu visualisieren und zur schau zu 
        stellen. 
    </p>

    <h2>Geplante Features:</h2>
    <ul>
        <li>Verfolge deine Fortschritten in Aktivitäten</li>
        <li>Manage eine Vielzahl an Typen (Filme, Bücher, Podcasts, Code,...)</li>
        <li>Präsentiere deinen Fortschritt durch Webprofil</li>
        <li>Zeitmanagement</li>
        <li>Bewerte Aktivitäten</li>
        <li>Kommentiere und tausche dich mit anderen Usern aus</li>
        <li>Twitterlike Folgesystem</li>
        <li>Eventbenachrichtigungen</li>
        <li>Funmeter</li>
        <li>Du entscheidest was du teilen möchtest und was privat bleibt</li>
        <li>Aktivitätsvorschläge die dich interessieren könnten</li>
        <li>Zeitgesteuerte Erinnerungen für warscheinlich vergessene Aktivitäten</li>
        <li>Altersgetreu mit Aktivitätstypisierung (SFW, Sketchy, NSFW)</li>
        <li>Deine Daten werden nicht an andere weitergegeben</li>
        <li>Persönliche Daten vollständig optional</li>
        <li>Anpassbares Webprofil durch eigene CSS-sheets</li>
        <li>Lösche Account wann immer du willst</li>
    </ul>
    
{% endblock desc %}
    
    
{% block screenshots %}
    {{ prettyPhoto("bundles/mkprodmk/images/screenshots/regressy/regressy.png") }}
{% endblock screenshots %}
    
    
{% block buttons %}
    {# {% macro roundButton(width, height, text, color, font_size, font_color, icon) %} #}
    
    {#
    <a href="">
        {{ roundButton("100%",   "40px", "", "#557744", "1.2em",
                       "#CCCCCC", asset(icons.down))}}
    </a>
    
    <a href="">
        {{ roundButton("47%",   "40px", "", "#003366", "1.2em",
                       "#CCCCCC", asset(icons.bitbucket))}}
    </a>
    <a href="">
        {{ roundButton("47%",   "40px", "", "#DDDDDD", "1.2em", 
                       "#000000", asset(icons.book))}}
    </a>
    #}
    <a href="mailto:michaelkargl@qkprod.com">
        {{ roundButton("100%",   "40px", "michaelkargl@qkprod.com", "#886644", "1.2em", 
                       "#DDDDDD", asset(icons.mail))}}
    </a>
    
{% endblock buttons %}
    
    
{% block javascripts_body %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
</script>
{% endblock javascripts_body %}

