{% extends "MkprodMkBundle::index.html.twig" %}

            
            
{% block content %}
    
<h1>
{% block title %}
{% endblock title %}
</h1>


<div class="iconbox">
{% block icons %}
{% endblock icons %}
</div>


<span class="projectdesc">
{% block desc %}
{% endblock desc %}
</span>


<div class="gallery">
{% block screenshots %}
{% endblock screenshots %}
</div>


<div class="buttonBox">
{% block buttons %}
{% endblock buttons %}
</div>

{% endblock content %}




{% block javascripts_body %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
</script>
{% endblock javascripts_body %}

