{% extends "MkprodMkBundle:Project:template.html.twig" %}
{% from "MkprodMkBundle:Util:imageUtil.html.twig" import prettyPhoto as prettyPhoto %}
{% from "MkprodMkBundle:Util:buttonUtil.html.twig" import roundButton as roundButton %}
  
{% block title %}
    Wallbasey
{% endblock title %}


{% block icons %}
    <img src="{{asset(icons.bash)}}" class="icon" />
    <img src="{{asset(icons.eclipse)}}" class="icon" />
    <img src="{{asset(icons.git)}}" class="icon" />
{% endblock icons %}


{% block desc %}
    <h2>Über:</h2>
    <p>
        Mit diesem Script lassen sich auf Knopfdruck wallpaperhintergründe von
        <a href="http://www.wallbase.cc">wallbase.cc</a> downloaden. Durch eine
        Vielzahl an Konfigurationsmöglichkeiten lassen sich die Wallpapermotive
        personalisieren.

    </p>
    
    <h2>Features:</h2>
    <ul>
        <li>Downloade <a href="http://www.wallbase.cc">wallbase.cc</a> Hintergründe</li>
        <li>Setze einzelne Wallpaper-date</li>
        <li>Filtere nach Kategorie (SafeForWork, Sketchy, NotSafeForWord)</li>
        <li>Archiviere geladene wallpapers (Keine redundanten downloads)</li>
        <li>Recycle wallpapers wenn schon vorhanden</li>
        <li>Downloade zufällige Hintergründe</li>
        <li>Downloade durch Suchkriterien</li>
        <li>Bestes Wallpaper einer Zeitspanne (Tag/Woche/Monat/Generell/...)</li>
        <li>Filtere nach Bildschirmbreite (16:10, 16:9,...)</li>
        <li>Filtere Wallpapers nach Hochauflösend, Anime oder Allgemein</li>
    </ul>
    
    <h2>Info:</h2>
    <p>
        Für detailiertere Informationen zur Bedienung wenden Sie sich bitte an
        das <a href="https://bitbucket.org/mkargl/wallbasey/wiki/Home">Wiki</a><br/>
    
        Falls Fehler aufgetreten oder Sie Featurewünsche äußern wollen senden 
        Sie mir diese bitte
        <a href="https://bitbucket.org/mkargl/wallbasey/issues?status=new&status=open">Hier</a>
    </p>
    <p>
        Falls Sie dennoch Fragen oder Kritik haben stehe stehe ich Ihnen 
        sehr gerne per Email zur Verfügung! 
        <a href="mailto:michaelkargl@qkprod.com">michaelkargl@qkprod.com</a>
    </p>
{% endblock desc %}


{% block screenshots %}
    {{ prettyPhoto("bundles/mkprodmk/images/screenshots/wallbase/download.png") }}
{% endblock screenshots %}


{% block buttons %}
    {# {% macro roundButton(width, height, text, color, font_size, font_color, icon) %} #}
    <a href="https://bitbucket.org/mkargl/wallbasey/get/master.zip">
        {{ roundButton("100%",   "40px", "Download", "#557744", "1.2em",
                       "#CCCCCC", asset(icons.down))}}
    </a>
    <a href="https://bitbucket.org/mkargl/wallbasey/src">
        {{ roundButton("47%",   "40px", "Sourcecode on", "#003366", "1.2em",
                       "#CCCCCC", asset(icons.bitbucket))}}
    </a>
    <a href="https://bitbucket.org/mkargl/wallbasey/wiki/Home">
        {{ roundButton("47%",   "40px", "Wiki", "#DDDDDD", "1.2em", 
                       "#000000", asset(icons.book))}}
    </a>
    <a href="mailto:michaelkargl@qkprod.com">
        {{ roundButton("100%",   "40px", "michaelkargl@qkprod.com", "#886644", "1.2em", 
                       "#DDDDDD", asset(icons.mail))}}
    </a>
{% endblock buttons %}
