{% extends "MkprodMkBundle:Project:template.html.twig" %}
{% from "MkprodMkBundle:Util:imageUtil.html.twig" import prettyPhoto as prettyPhoto %}
{% from "MkprodMkBundle:Util:buttonUtil.html.twig" import roundButton as roundButton %}


{% block title %}
    Youtube-dl
{% endblock title %}


{% block icons %}
    <img src="{{asset(icons.bash)}}" class="icon" />
    <img src="{{asset(icons.eclipse)}}" class="icon" />
    <img src="{{asset(icons.git)}}" class="icon" />
{% endblock icons %}


{% block desc %}
    <h2>Über:</h2>
    <p>
        Mit diesem Programm lassen sich auf einfache weise Videos von 
        <a href="http://www.youtube.com">youtube</a> downloaden.
    </p>
    
    <h2>Features:</h2>
    <p>
        <ul>
            <li>Downloade neuesten videos pro chanel</li>
            <li>Wähle bevorzugte Videoqualität (1080p/720p/480p/360p/240p/144p)</li>
            <li>Wähle bevorzugtes Videoformat (mp4/flv/webm)</li>
            <li>Limitiere Downloadgeschwiundigkeit</li>
            <li>Fährt, auf Wunsch nach erflolgtem update, PC herunter oder startet ihn neu</li>
            <li>kleine UI für erleichterte navigation zwischen gedownloadeten Videos (alpha)</li>
        </ul>
    </p>
    
    <p>Ich ersuche jedoch jeden sich keine lizensierten Videos herunterzuladen
        und sich Videos auch direkt über 
        <a href="http://www.youtube.com">youtube</a> anzusehen da es viele
         Künstler gibt die ihr Leben durch Video-views verdienen. Danke :)
    </p>
    
    <h2>Info:</h2>
    <p>
        Für detailiertere Informationen zur Bedienung wenden Sie sich bitte an
        das <a href="https://bitbucket.org/mkargl/ydl/wiki/Home">Wiki</a><br/>
    
        Falls Fehler aufgetreten oder Sie Featurewünsche äußern wollen senden 
        Sie mir diese bitte
        <a href="https://bitbucket.org/mkargl/ydl/issues?status=new&status=open">Hier</a>
    </p>
    <p>
        Falls Sie dennoch Fragen oder Kritik haben stehe stehe ich Ihnen 
        sehr gerne per Email zur Verfügung!
        <a href="mailto:michaelkargl@qkprod.com">michaelkargl@qkprod.com</a>
    </p>
{% endblock desc %}


{% block screenshots %}
    {% set photos = [
        "bundles/mkprodmk/images/screenshots/ydl/action.png",
        "bundles/mkprodmk/images/screenshots/ydl/action.png",
        "bundles/mkprodmk/images/screenshots/ydl/chanels.png",
        "bundles/mkprodmk/images/screenshots/ydl/download.png",
        "bundles/mkprodmk/images/screenshots/ydl/download2.png",
        "bundles/mkprodmk/images/screenshots/ydl/videos.png"
    ] %}
    {% for photo in photos %}
        {{ prettyPhoto(photo) }}
    {% endfor %}

{% endblock screenshots %}


{% block buttons %}
    {# {% macro roundButton(width, height, text, color, font_size, font_color, icon) %} #}
    <a href="https://bitbucket.org/mkargl/ydl/get/master.zip">
        {{ roundButton("100%",   "40px", "Download", "#557744", "1.2em",
                       "#CCCCCC", asset(icons.down))}}
    </a>
    <a href="https://bitbucket.org/mkargl/ydl/src">
        {{ roundButton("47%",   "40px", "Sourcecode on", "#003366", "1.2em",
                       "#CCCCCC", asset(icons.bitbucket))}}
    </a>
    <a href="https://bitbucket.org/mkargl/ydl/wiki/Home">
        {{ roundButton("47%",   "40px", "Wiki", "#DDDDDD", "1.2em", 
                       "#000000", asset(icons.book))}}
    </a>
    <a href="mailto:michaelkargl@qkprod.com">
        {{ roundButton("100%",   "40px", "michaelkargl@qkprod.com", "#886644", "1.2em", 
                       "#DDDDDD", asset(icons.mail))}}
    </a>
{% endblock buttons %}
    
