

/* ------------------------------------------------------------------
 * -------------------------- STANDARD ------------------------------
/* -----------------------------------------------------------------*/
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    
    font-family: "Ubuntu Light", Ubuntu, Colibri, Arial;
    font-size: 16px;
    color: #ffffff;
}

body {
   background-image: url(../images/wild_oliva_dark.png); 
   font-size: 62.5%; /* 1em = 10px */
   
}

h1 {
   font-size: 2em;   /* 20px/10px */
}


a, a:visited {
   color: #ba0e3b;
   font-weight: bolder;
   font-style: normal;
   text-decoration: underline;
}

a:hover {
   color: #9f1036;
}

#banner-inner {
   width: 100%;     /* ~1000px */
   overflow: hidden;
   margin: 0 auto;
   
   border-left: solid #000 1px;
   border-right: solid #000 1px;
}

#banner-inner img {
   width: 100%;
}


#wrapper{
    width: 93.5%;  /* 100 - margin and shadow */
    min-height: 100%;
    
    margin: 0 auto;
    padding: 0 2% 1% 2%; /* 20px / 1000px */
    
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    
    -moz-box-shadow:    3px 10px 5px 6px #000;
    -webkit-box-shadow: 3px 10px 5px 6px #000;
    box-shadow:         0px 10px 5px 6px #000;
    
    
    background-color: #2d2d2d;
    font-size: 1.6em; /* 16px/10px */
}

/* --------------------------------------------------------------------------
 * ------------------------- TOP AND BOTTOM BAR -----------------------------
 * -------------------------------------------------------------------------*/



footer {
   width: 100%;
   height: 5%;
   margin: 0 auto;
   
   border-top: #000 solid 1px;
   border-left: #000 solid 1px;
   border-right: #000 solid 1px;
   
   background-image: url(../images/title_bg.png);
   background-size: auto;
}

nav {
   width: 100%;
   height: 35px; /* height: 5%;*/
   
   border-bottom: #000 solid 2px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}


nav a:visited {
   color: #ffffff;
}

nav div.navbutton {
   float: left;
   
   text-align: center;
   font-size: 1.8em;  /* 18px/10px */
   line-height: 36px; 
   
   width: 25%;
   height: 100%;
  
   background-image: url(../images/title_bg.png);
   background-size: contain;
}


/* --------------------------------------------------------------------------
 * ------------------------GENERIC PROGRESS BAR -----------------------------
 * -------------------------------------------------------------------------*/
.roundBorders {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.pbarContainer {
    width: 45%;   /* 400px/1000px */
    float: left;
    margin: 2%;   /* 20px/1000px */
}

.progressbar {
    position: relative;
    overflow: hidden;
    
    border: 2px solid #000;
    height: 20px;
    
    background-color: #666666;
}

.progressbar:hover {
    background-color: #777777;
}

.progress {
    height: 100%;
    
    background-color: #700835;
}

.progress:hover {
   background-color: #4c050a;
}

.progresstext {
    position: absolute;
    top: 0; 
    left: 15px;
    font-size: 1.0em;   /*10px/10px*/
    line-height: 20px;
    font-family: ubuntu, Colibri, Arial;
    font-weight: bold;
}

/* --------------------------------------------------------------------------
 * -----------------BIG BAR DISPLAYING THE TOTAL PROGRESS -------------------
 * -------------------------------------------------------------------------*/
.totalProgress {
    width: 95%;
}

.totalProgress .progressbar {
    height: 40px;
}

.totalProgress .progresstext {
    font-size: 2.0em;    /* 20px/10px */
    line-height: 40px;
}

.totalProgress .progress {
    background-color: #700835;
}

.totalProgress .progress:hover {
    background-color: #4c050a;
}


.doubleCols{
   -moz-columns: 2;
   -webkit-columns: 2;
   columns: 2;
}

.mailform {   
   border: #000 solid 1px;
   
   background-color: #846363;
   
   border-radius: 5px;
   -moz-border-radius: 5px;
   -o-border-radius: 5px;
   -webkit-border-radius: 5px;
}

.mailform td {
   border: #000 solid 1px;
}


.mailform {
   margin: 0 auto;
   width: 500px;
   height: 400px;
   
}

table.mailform td * {
   width: 100%;
}

table.mailform textarea {
   height: 200px;
   width: 100%;
}








/* --------------------------------------------------------------------------
 * ---------------------------- CLEARFIX-------------------------------------
 * -------------------------------------------------------------------------*/
.group:before,
.group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}


/* ------------------------------------------------------------------
 * -------------------- ~ IPAD SIZE 768px ---------------------------
/* -----------------------------------------------------------------*/

@media screen and (max-width: 800px) {
   #wrapper {
      width: 96%;  /* -4% padding */
   }
   
   #banner-inner {
      width: 100%;
   }
   
   footer {
      width: 100%;
   }
}


/* ------------------------------------------------------------------
 * -------------------- ~ IPOD SIZE 500px ---------------------------
/* -----------------------------------------------------------------*/
@media screen and (max-width: 600px) {
   
   .pbarContainer {
      width: 100%;
      margin: 2% 0 0 0;   /* 10px/500px */
      
      float: none;
   }
   
   .progressbar {
      margin: 0 4% 0 4%;  /* 20px/500px */
   }
   
   .doubleCols {
   -moz-columns: 1;
   -webkit-columns: 1;
   columns: 1;
   }
}
