{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" 
          href="{{ asset("bundles/mkprodmangress/css/styles.css") }}" />
{% endblock %}


{% block navigation %}
          <a href="{{path("main")}}">   
               <div class="navbutton">Main</div>
           </a>
              
           <a href="{{path("progress")}}">
              <div class="navbutton">Progress</div>
           </a>
           
           <a href="{{path("preview")}}">
              <div class="navbutton">Preview</div>
           </a>
              
           <a href="{{path("contact")}}">
               <div class="navbutton">Contact</div>
           </a>
{% endblock navigation %}


{% block banner %}
    <a href="{{path("main")}}">
        <img src="{{asset("bundles/mkprodmangress/images/banner_bg_dark.png")}}" />
    </a>
{% endblock banner %}


{% block content %} 
{% endblock %}

