

/* ------------------------------------------------------------------
 * -------------------------- STANDARD ------------------------------
/* -----------------------------------------------------------------*/
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    
    font-family: "Quando", "Ubuntu Light", Ubuntu, Colibri, Arial;
    text-shadow: 1px 1px 3px #BBB;
    font-size: 16px;
    color: #111111;
}


body {
    /* set base font size for 1em */
   font-size: 55%; /* 1em = 10px */
   
   background-image: url(../images/backgrounds/ubuntu_dotts.gif);
}

h1 {
   font-size: 2em;   /* 20px/10px */
   
   line-height: 0.8em;
}


a, a:visited {
   color: #ba0e3b;
   text-decoration: none;
   
}

a:hover {
   text-decoration: underline;
   color: #9f1036;
}



#wrapper{
    width: 80%; /* -4% padding => 1000px*80%=800px */
    min-height: 100%;
    
    margin: 0 auto;
    padding: 20px 2% 2% 2%; /*20px/1000px */
    
    background-image: url(../images/backgrounds/ubuntu_dotts.gif);
    font-size: 1.6em; /* 16px/10px */
}


#banner-wrapper {
    width: 100%;
    background-color: rgb(142,163, 133);
}

#banner-inner {
    width: 96%;    /* 960px - padding(4%) => 921.6px */
    min-height:120px;
    padding: 20px 2% 0 2%;
    
    font-family: 'IM Fell Double Pica';
    font-size: 11px;
    text-shadow: 3px 3px 3px #6a7d63;
    
    background: url("../images/backgrounds/arrow-bottom.gif") repeat-x scroll 0 100% transparent;
}


/* --------------------------------------------------------------------------
 * ------------------------- TOP AND BOTTOM BAR -----------------------------
 * -------------------------------------------------------------------------*/



footer {
   width: 100%;
   height: 30px;
   margin: 0 auto;
  
   font-size: 1.5em;
   
   border-top: #000 solid 1px;
   background-color: rgb(142,163, 133);
}

nav {
   width: 100%;
   height: 35px;
   
   color: #c3c3c3;
   
   border-bottom: #656565 dashed 1px;
   background-image: url(../images/backgrounds/button_bg.png);
}



nav a:visited {
   color: #000;
}

nav div.navbutton {
   width: 20%;
   height: 100%;
   float: left;
   
   color: darkseagreen;
   text-shadow: none;
   
   text-align: center;
   font-size: 1.8em;  /* 18px/10px */
   font-weight: bold;
   line-height: 36px; 
}

nav div.navbutton:hover {
    color: #c0d5b7;
}



/* --------------------------------------------------------------------------
 * -------------------------------- HEADER ----------------------------------
 * -------------------------------------------------------------------------*/


#logo {
    width: 22%;   /* -padding(4.340277778%) */
    float: left;
    overflow: hidden;
    
    padding: 0 2.170138889% 1% 2.170138889%; /* 20px/921.6px */
}

#logo h1 {
    font-size: 5em;   /* 50px/10px */
    line-height: 0px;
}


#description {
    width: 73.659722222%; /* 100% - logo(22%) - padding(4.340277778)*/
    float: left;
    
    text-align: center;
    font-size: 1.8em;   /* 18px/10px */
}


/* --------------------------------------------------------------------------
 * ----------------------------- CONTENTBLOCK -------------------------------
 * -------------------------------------------------------------------------*/

.contentblock {
    width: 46%;   /* 50 - padding(2.5)- margin(1.25) - border(0.25) */
    float: left;
    overflow:auto;
    
    /* 5px/400px,  10px/400px */ 
    padding: 1.25% 2.5% 1.25% 0;  
    margin-left: 1.25%;  /* 10px/800px */
    margin-bottom: 20px;
    
    border-right: #000 solid 1px;    /* 1px/800px=0.125% */
}

.equalboxes300Boxes {
    height: 300px;
}

.contentblock h1 {
    text-align: center;
}

.mailform {
    width: 50%;
    
    margin: 0 auto;
    padding: 10px;
    
    overflow: auto;
    
    background-color: rgba(175, 175, 175, 0.2);
}

.mailform .formerrors {
    color: red;
    font-weight: bold;
}

.mailform label {
    display: block;
    width: 10%;
}

.mailform input {
    width: 100%;
}

.mailform textarea {
    width: 100%;
    height: 150px;
}


/* ------------------------ FILEBUTTON ---------------------------------
/* ---------------------------------------------------------------------*/


.filebutton {
    width: 7.5%;    /* 60px/800px */
    overflow: hidden;
    
    font-size: 1.6em;  /* 16px/10px */
}


.icon {
    width: 60px;   /* 60px/960px=6.25% */
    height: 60px;
    float:left;
    overflow: hidden;
}

.icon img {
    width: 100%;
}

.icon p {
    width: 100%;
    
    margin: 0;
    
    font-size: 1.2em;  /* 12px/10px */
    text-align: center;
}



/* ---------------------------- PRODUCT GALLERY --------------------------- */
/* -------------------------------------------------------------------------*/


.banner {
    width: 32.583333333%;   /* 33.3333 - border(6*0.125) */
    overflow: auto;
    
    margin: 10px 0 30px;
    
    border-radius: 15px;
    border: #555 solid 1px;    /* 1px/800px=0.125% */
    
    background-color: rgba(100, 100, 100, 0.4);
}



.gallery {
    width: 40%;
    overflow: auto;
    
    /* background-color: #9f1036; */
}

.gallery img {
    height: 100px;
    width: 100px;
    
    border: #656565 dashed 1px;
}

.iconbox {
    height: 60px;
    /* width: 60%;      960*60% = 576px */
    width: 56.527777778%;  /* 60-padding(3.472222222 ) */
    
    padding-right: 3.472222222%;  /* 20px/576px */
    
    float: left;
    
    /* background-color: yellow; */
}

.projectdesc {
    /* width: 60%;      960*60% = 576px */
    width: 56.527777778%;  /* 60-padding(3.472222222 ) */
    float: left;
    
    padding: 20px 3.472222222% 0 0;  /* 20px/576px */
    
    /* background-color: #08C; */
}


.buttonBox {
    width: 40%;
    height: 100px;
    float: right;
    
    margin: 40px 0 0 0;
    
    /* background-color: #aacd4e; */
}


.developer {
     box-shadow: 4px 4px 10px #aaa;
}


.developer {
    width: 80%;   /* 640px */
    height: 150px;
    
    margin: 0 auto;
    padding: 1.5625%;   /* 10px/640px*/
    
    background-color: rgba(111,111,111,0.2);
}

.developer .social {
    height: 100%;
    width:  8.4375%;  /* 10% - 1.5625% */
    float: right;
    overfow: hidden;
}


.developer .photo {
    width: 18.75%;   /* 150/640px - margin(1.5625) - padding(3.125)*/
    height: 100%;
    margin-right: 1.5625%;  /* 10px/640px */
}

.developer .info {
    width: 71.25%;   /* 100% - 18.75% - 10%*/
}

.developer .photo,
.developer .info,
.developer .social img{
    float: left;
}

.developer .social img {
    height: 33%;
}

.developer .info h1 {
    font-size: 40px;
    line-height: 0px;
}

.developer p.quote {
    font-size: 24px;
}




/* --------------------------------------------------------------------------
 * ---------------------------- CLEARFIX-------------------------------------
 * -------------------------------------------------------------------------*/
.group:before,
.group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}


.roundCorners, .developer {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}





/* ------------------------------------------------------------------
 * -------------------- ~ IPAD SIZE 768px ---------------------------
/* -----------------------------------------------------------------*/

@media screen and (max-width: 800px) {
   #wrapper {
      width: 96%;  /* -4% padding */
   }
   
   #banner-inner {
      width: 100%;
   }
   
   footer {
      width: 100%;
   }
}

