{% extends "MkprodMkBundle::index.html.twig" %}



{% block content %}

<div class="developer">
    <a href="{{path("mkbundle_dev_show", {"devname": "michaelkargl"})}}">
    
    <img src="{{asset("bundles/mkprodmk/images/icons/man.png")}}" class="photo" />
    
    <div class="info">    
            <h1>Michael Kargl</h1>
        </a>
        <p> Softwaredeveloper, Webdeveloper </p>
        <p class="quote">Auf der Suche nach Arbeit oder Projekten!</p>
    </div>
    
    <div class="social">
        <a href="mailto:michaelkargl@qkprod.com">
            <img src="{{asset("bundles/mkprodmk/images/icons/heart_mail.png")}}" />
        </a>
    </div>
</div>
    
{% endblock content %}