{% extends "MkprodMkBundle::index.html.twig" %}


{% block content %}

<!-- ---------------------- WHO AM I----------------------- -->
<div class="contentblock equalboxes300Boxes">
    <h1>Wer</h1>
    <p> Ich bin ein junger Mann der schon in frühen Kindertagen entschieden 
        hat das er ein IT-guy sein wird. Um diesen Traum erfüllen zu können 
        maturierte ich an der 
        <a href="http://www.htlwrn.ac.at/index.php/informatik">HTL Wiener Neustadt</a> 
        im Bereich Informatik. So gerne ich auch in der IT unterwegs bin, bin 
        ich ständig auf der Suche nach neuem Wissen und versuche stets weltoffen 
        zu bleiben. Seit einem Jahr bin ich am 日本語 lernen was sich als 
        unglaubliches Abenteuer herausgestellt hat. Nebenbei versuche ich mein 
        Glück in Robotics und bastle an meinem 
        <a href="http://us.mindstorms.lego.com/en-us/products/default.aspx">Robokumpel</a> ;).
    </p>
</div>


<!-- ---------------------- EDUCATION ----------------------- -->
<div class="contentblock equalboxes300Boxes">
    <h1>Ausbildung</h1>
    <p>
        Maturiert habe ich an der HTL Wiener Neustadt im Hauptfach Programmieren.
        Da mir Multiplattformfähigkeit sehr am Herzen liegt wählte ich als 
        Thema Qt/jambi(
        <a href="{{asset("bundles/mkprodmk/files/doc/papers/qt/qtjambi.pdf")}}">pdf</a>,
        <a href="{{asset("bundles/mkprodmk/files/doc/papers/qt/qtjambi_presentation.pdf")}}">ppt</a> )
        Programmiersprachen wurden größtenteils PHP, C# und vor allem Java 
        unterrichtet. Doch auch allgemeine Informatik wurde ausgeübt so wie 
        Netzwerktechnik, Betriebssystemadministration (Linux und Windows) bis zu 
        Datenbanktechnik. In meiner Freizeit habe ich einige 
        <a href="http://www.codeschool.com/users/numn">codeschool</a> und 
        <a href="http://www.video2brain.com/de/">video2brain</a> Kurse 
        durchgearbeitet und bin generell sehr bestrebt meine Programmierkenntnisse 
        weiter auszubauen.
    </p>
</div>


<!-- ---------------------- LANGUAGES ----------------------- -->
<div class="contentblock equalboxes300Boxes">
    <h1>Kenntnisse</h1>
    <img src="{{asset(icons.bash)}}" class="icon" alt="bash"/>
    <img src="{{asset(icons.html)}}" class="icon" alt="HTML" />
    <img src="{{asset(icons.css)}}"  class="icon" alt="CSS" />
    <img src="{{asset(icons.js)}}"   class="icon" alt="Javascript" />
    <img src="{{asset(icons.cs)}}"   class="icon" alt="C#" />
    <img src="{{asset(icons.java)}}" class="icon" alt="Java" />
    <img src="{{asset(icons.hibernate)}}" class="icon" alt="HibernateORM" />
    <img src="{{asset(icons.junit)}}"     class="icon" alt="JUnit" />
    <img src="{{asset(icons.qt)}}"        class="icon" alt="Qt" />
    <img src="{{asset(icons.oracle)}}"    class="icon" alt="OracleSQL" />
    <img src="{{asset(icons.mssql)}}"     class="icon" alt="MSSQL" />
    <img src="{{asset(icons.php)}}"       class="icon" alt="PHP"/>
    <img src="{{asset(icons.symfony)}}"   class="icon" alt="Symfony" />
    <img src="{{asset(icons.linuxmint)}}" class="icon" alt="LinuxMint" />
    <img src="{{asset(icons.ubuntu)}}" class="icon" alt="Ubuntu" />
    <img src="{{asset(icons.gimp)}}"      class="icon" alt="Gimp" />
    <img src="{{asset(icons.git)}}"       class="icon" alt="Git" />
    <img src="{{asset(icons.eclipse)}}"   class="icon" alt="Eclipse IDE"/>
    <img src="{{asset(icons.netbeans)}}"  class="icon" alt="Netbeans IDE" />
    <img src="{{asset(icons.aptana)}}"    class="icon" alt="Aptana Studio" />
    <img src="{{asset(icons.visualstudio)}}" class="icon" alt="VisualStudio 2010" />
</div>



<!-- ---------------------- MOTIVATION ----------------------- -->
<div class="contentblock equalboxes300Boxes" >
    <h1>Motivation</h1>
    <p>
        Kariere ist mir sehr wichtig und versuche daher meine Kenntnisse 
        permanent auszubauen. Sehr wichtig ist mir dabei, gut lesbaren, schön 
        designten und erweiterbaren Code zu produzieren.
        Code Dokumentation und Planung durch UML-Klassendiagrammen sind mir 
        ebenfalls  sehr wichtig.
   </p>
</div>

<div class="mailform roundCorners">
     <a name="mail"><h1>Mail me</h1></a>
     
     <form action="{{path("mkbundle_dev_show", {"devname":"michaelkargl"})}}" method="POST" {{form_enctype(mailform)}}>
         
        {# Print how many mails were sent #}
        {% if mails_sent > 0 %}
           <p style="color: #67AC89; font-weight: bold;" >
                {{mails_sent}} mail{% if mails_sent > 1 %}s{% endif %} successfully sent :)!
            </p>
        {% endif %}
            
        {# Print error messages #}
         <p class="formerrors">
            {% if mails_sent == 0 %}
                 Sorry! Something probably went wrong wile sending :/<br/>
                 You can reach me at
                 <a href="mailto:michaelkargl@qkprod.com">michaelkargl@qkprod.com</a>
            {% endif %}
            {{ form_errors(mailform) }}
            {{ form_errors(mailform.subject) }}            
            {{ form_errors(mailform.body) }}
            {{ form_errors(mailform.sender) }}
            {# {{ form_errors(mailform.receiver) }} #}
         </p>
         
         {#
         {{ form_label(mailform.receiver) }}
         {{ form_widget(mailform.receiver) }}
         #}

         {{ form_label(mailform.subject) }}
         {{ form_widget(mailform.subject) }}
           
         {{ form_label(mailform.sender) }}
         {{ form_widget(mailform.sender) }}
         
         {{ form_label(mailform.body) }}
         {{ form_widget(mailform.body) }}
                 
         {{ form_rest(mailform) }}
         <input type="submit" value="Absenden">
     </form>
</div>
    
{% endblock content %}
