<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" 
              href="{{ asset('favicon.ico') }}" />
    </head>
    
    
    <style>
         html, body {
             margin: 0;
             width: 100%;
             height: 100%;

             font-family: "Ubuntu Light", Ubuntu, Colibri, Arial;
             text-shadow: 2px 2px 2px #BBB;
             font-size: 16px;
             color: #111111;
         }

         body {
             font-size: 62.5%; /* 1em = 10px */
             background-image: url("http://www.qkprod.com/web/bundles/mkprodmk/images/backgrounds/ubuntu_dotts.gif");
         }


         a, a:visited {
            color: #ba0e3b;
            text-decoration: none;

         }

         a:hover {
            /* font-weight: bold; */
            text-decoration: underline;
            color: #9f1036;
         }

         #header {
             width: 90%;  /* 100 - padding(10) = 720px */
             padding: 0 5% 0 5%; /* 20px/800px */
             
             font-size: 1em;
             font-weight: bolder;

             background-color: rgba(113, 99, 74, 0.3);
         }

         #header img, #body img {
             height: 100px;
             margin-right: 2.083333333%;    /* 15px/720px */
             margin-bottom: 15px;
             float: left;

             border-radius: 15px;
             -moz-border-radius: 15px;
             -webkit-border-radius: 15px;
         }


         #header div {
             width: 97.5%;     /* 100 - padding(2.5) */
             float: left;
             
             border-bottom: #9e967c dashed 3px;   /*1px/800px = 0.125% */

             padding: 1.25%;    /* 10px/800px */
         }
         
         
         #wrapper {
             width: 100%;  /* 800px */
             min-height: 75%;
             overflow: auto;

             margin: 0 auto;
             font-size: 3em;
         }
         


         #body {
             width: 90%;   /* 100 - padding(2.5) */
             float: left;

             padding: 25px 5% 25px 5%; /* 40px/800px */
         }


         /* CLEARFIX */
         .group:before,
         .group:after {
            content: "";
            display: table;
         }
         .group:after {
            clear: both;
         }
         .group {
            zoom: 1; /* IE6&7 */
         }           
    </style>
    
    
    <body>
       <div id="wrapper" class="group">
           
           <div id="header" class="group">
            <div id="sender">
            {% block sender %}
            {% endblock sender %}
            </div> <!-- #sender -->

            <div id="subject">
            {% block subject %}
            {% endblock subject %}
            </div> <!-- #subject -->
       </div> <!-- #header -->
            
            {#
            <div id="receiver">
            {% block receiver %}
            {% endblock receiver %}
            </div> <!-- #receiver -->
            #}

            <div id="body">
            {% block body %}
            {% endblock body %}
            </div> <!-- #body -->
        </div> <!-- #wrapper -->
    </body>
</html>
