{% extends "MkprodMkBundle:Mail:email_template.html.twig" %}
 

{% block sender %}
    <img src="http://qkprod.com/web/bundles/mkprodmk/images/icons/man.png" />
    <p>{{mail.sender}}</p>
    
{% endblock sender %}

{% block  subject %}
    <img src="http://qkprod.com/web/bundles/mkprodmk/images/icons/question.png" />
    <p>{{mail.subject}}</p>
{% endblock subject %}

{% block  receiver %}
{% endblock receiver %}

{% block  body %}
    <img src="http://qkprod.com/web/bundles/mkprodmk/images/icons/sweet_mail.gif" />
    <p>{{mail.body}}</p>
{% endblock body %}

