{% macro roundButton(width, height, text, color, font_size, font_color, icon) %}
<div style="
            {% if width %}  width:{{width}};   {% endif %}
            {% if height %} height:{{height}}; {% endif %}
            {% if color %}  background-color:{{color}};  {% endif %}
            {% if font_size %} font-size: {{font_size}}; {% endif %}
            {% if font_color %} color: {{font_color}};   {% endif %}
            text-align:    center;
            line-height:   2em;
            border-radius: 7px;
            box-shadow:    3px 3px 5px 2px #333;
            float: left;
            margin: 10px 10px 0 0;
            overflow: hidden;">
    <span style="margin: 0 auto;">
        {{text}}
    </span>
         
    {% if icon %}
         <img src="{{icon}}" 
              style="height:100%;
                     float: right;"/>
    {% endif %}
</div>

{% endmacro roundButton %}