{#  Render a image on screen which links to itself #}
{% macro prettyPhoto(imgsrc) %}
    <a href="{{asset(imgsrc)}}" rel="prettyPhoto[pp_gal]">
        <img src="{{asset(imgsrc)}}" />
    </a>
{% endmacro prettyPhoto %}