{% extends "MkprodMangressBundle::index.html.twig" %}
{% block title %} Info {% endblock %}

{% block content %}
   <h1>Contact me</h1>
   
   <div class="doubleCols">
   <p>
      This site is currently under development so everything seems a bit raw,
      color- and emotionless.. If you'd have anything to share, 
      like for instance:
      <ul>
         <li>Ideas like:
            <ul>
               <li>Design ideas</li>
               <li>Feature wishes</li>
               <li>Hints to additional APIs</li>
               <li>Hints to additional Manga-websites</li>
               <li>...</li>
            </ul>
         </li>
         <li>Resources like:
            <ul>
               <li>Images or Vides related to Manga</li>
               <li>Banners</li>
               <li>...</li>
            </ul>
         </li>
      </ul>
      I would very much appreciate it if you'd send it to me using the form 
      below so we can speed things up and make this happen as soon as possible.
      (Yes..yes... even though I am the developer.. I still can't wait ;D)
   </p>
   
   <p>
      If you'd like to contribute code please mail me as well! The more
      the merrier ;). 
   </p>
</div>
   
   
{# ------- Email-form ------- #}
<table class="mailform" border=1>
   <form action="{{ path('contact') }}"
         method="post"  {{ form_enctype(form) }}>
      <tr>
         <td>{{form_label(form.subject)}}</td>
         <td>{{form_widget(form.subject)}}</td>
         <td>{{form_errors(form.subject)}}</td>
      </tr><tr>
         <td>{{form_label(form.receiver)}}</td>
         <td>{{form_widget(form.receiver)}}</td>
         <td>{{form_errors(form.receiver)}}</td>
      </tr><tr>
         <td>{{form_label(form.sender)}}</td>
         <td>{{form_widget(form.sender)}}</td>
         <td>{{form_errors(form.sender)}}</td>         
      </tr><tr>
         <td>{{form_label(form.body)}}</td>
         <td>{{form_widget(form.body)}}</td>
         <td>{{form_errors(form.body)}}</td>
      </tr><tr>
         <td colspan="3">
            <input type="submit" />
         </td>
      </tr>
   </form>
</table>

    

{% endblock content %}