{% extends "MkprodMangressBundle::index.html.twig" %}
{% block title %} Main {% endblock %}

{# import function to render progressbar #}
{% import "MkprodMangressBundle:Default:progress.html.twig" as progress %}

{% block content %}


    <div class="pbarContainer totalProgress">
      {{progress.renderProgressbar(totalProgress)}}
   </div>

   
      
      <h1>Whats it all about?</h1>
      <p>Im glad you asked!</p>
   
   <div class="doubleCols">
   
   
   <h2>Easing waitingtime</h2>
   <p>
       If you are a Mangafan as well you might already have 
      been experiencing the same, horrible, pain having to wait months for new 
      chapters to arrive. As I am a huge fan of 
      <a href="http://progressquest.com/">Progressbars</a> I came to the idea
      of managing your mangas and reading-progress that way. The idea is to 
      calculate and visualize waiting periods to pass time more efficiantly
      while waiting.. like reading a different manga, or starting a new one that
      has been finished already.
   </p>
   
   <h2>Tracking progress</h2>
   <p>
      Once the progressbar turned green, signaling you the "go for read" you
      could as well use the mangareader on the site. As this site is being
      optimized for mobile devices, you should have no problems admiring your
      favourite charakters in action.      
   </p>
   
   <h2>Sharing</h2>
   <p>
      You can customize your profile to your needs while sharing it with your
      friends, showing them your efford (and progressbars). The profile shows
      a summary of your hard work on the site and at reading mangas. As
      community is a big aspect you get to share your attitudes with others and
      strenghen our bond of otakuness.
   </p>
   
   <h2>Linking</h2>
   <p>
      <em><a href="http://myanimelist.net/">Myanimelist</a></em> Members can
      link their profile and manage it from Mangress.
   </p>
   
   <h2>Helping</h2>
   <p>
      As this is basically <a href="{{path("progress")}}">"Work in Progress</a>
      many of these features are still under development. If any ideas arise
      or you have something to share, I would greatly appreciate it if you'd
      <a href="{{path("contact")}}">contact me</a> and become a part of the team.
      
   
   </p>
   </div>
{% endblock %}
