{% extends "MkprodMangressBundle::index.html.twig" %}
{% block title  %} Preview {% endblock %}


{% block content %}

<h1>What can it do? / What is planned?</h1>
<ul>
   <li>Helps you pass waiting times as good as possible</li>
   <li>Manage your progress for every manga you read</li>
   <li>Myanimelist integration</li>
   <li>Read mangas onsite using your favourite provider</li>
   <li>Optimized for mobile and desktop use</li>
   <li>Get notified for new chapters </li>
   <li>suggest Mangas based on your readinghabits and preferences</li>
   <li>Get badges and achievements</li>
   <li>Exchange yourself with other manga-lovers</li>
   <li>Create your own otaku-profile that you can share</li>
</ul>


<h1>What will it look like?</h1>

<img src="{{asset("bundles/qkprodmangress/images/mangress.png")}}">

{% endblock %}