{% extends "MkprodMangressBundle::index.html.twig"  %}

{% block title %} Progress {% endblock %}

{# Renders one progressbar to the screen #}
{% macro renderProgressbar(progressbar) %}
   <div class="progressbar">
        <div class="progress"
             style="width: {{progressbar.getProgress}}%;">
        </div>
        <span class="progresstext">{{progressbar.getTitle}}</span>
   </div>
{% endmacro %}
{% import _self as pbars %}



{% block content %}
    
   <div class="pbarContainer totalProgress">
      {{ pbars.renderProgressbar(total) }}
   </div>

    The change in programming languages threw everything back to zero (╥﹏╥)
    <br/> but the will is strong ;)

   {# iterate through all the progressbar-sections #}
   {% for sectionName, section in progressbars %}
         <div class="pbarContainer">
             <h1>{{ sectionName }}</h1>
             
             {# render each progressbar in section #}
             {% for progressbar in section %}
                 {{ pbars.renderProgressbar(progressbar) }}	
             {% endfor %}
         </div>
   {% endfor %}	
{% endblock content %}
