{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" 
          href="{{ asset("bundles/mkprodmk/css/styles.css") }}" />
    <link rel="stylesheet" type="text/css" 
          href="{{ asset("bundles/mkprodmk/css/prettyPhoto.css") }}" />
    <link rel='stylesheet' type='text/css' 
          href='http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica'>
    <link rel='stylesheet' type='text/css'
          href='http://fonts.googleapis.com/css?family=Quando'>
    
{% endblock %}



{% block javascripts_head %}
    <script type="text/javascript"
            src="{{asset("bundles/mkprodmk/js/jquery-1.9.1.min.js")}}"></script>
    {# <script type="text/javascript" 
            src="{{asset("bundles/mkprodmk/js/less-1.3.3.min.js")}}"></script> #}
    <script type="text/javascript"
            src="{{asset("bundles/mkprodmk/js/jquery.prettyPhoto.js")}}"></script>     
{% endblock javascripts_head %}
            
    

{% block navigation %}
    <a href="{{path("mkprodmk_main")}}">   
         <div class="navbutton">Hauptseite</div>
    </a>

       
    <a href="{{path("mkprodmk_project_main")}}">
        <div class="navbutton">Projekte</div>
    </a>


    <a href="{{path("mkbundle_dev_main")}}">
        <div class="navbutton">Über</div>
    </a>

     
     <a href="http://blog.qkprod.com">
         <div class="navbutton">Blog</div>
     </a>
            
     <a href="http://wiki.qkprod.com">
         <div class="navbutton">Wiki</div>
     </a>
     
{% endblock navigation %}



{% block banner %}
    <div id="logo">
        <h1>{Qkprod}</h1>
    </div>
        
    <div id="description">
        <p>Ich bin zur Zeit auf der Suche nach einem Arbeitsplatz als 
            Softwareentwickler! Wenn Sie etwas Zeit zur Verfügung
            haben würde ich Sie bitten sich meine
            <a href="{{ asset("bundles/mkprodmk/files/doc/cv/resume.pdf")}}">
                Unterlagen
            </a>
            oder 
            <a href="{{path("mkprodmk_project_main")}}">
                Projekte 
            </a>
            durchzusehen.
        </p>
    </div>
    
{% endblock banner %}



{% block content %} 
{% endblock content %}
            
            
{% block footer %}
            Developed with <a href="http://symfony.com/">Symfony2</a>
{% endblock footer %} 

            
