{% extends 'MkprodMangressBundle::index.html.twig' %}
    
{% block content %}
    <h1 class="title">Login</h1>


    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

        <em><p>Sorry but this area is for development purposes and inaccessable
            to users. Once all features have been proved to be
            secure enough for production use they willbe made public.<br/>
            Thanks for the interest! Have a nice day!
        </p></em>
        <br/><br/>
        
    <form action="{{ path("mangress_login_check") }}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>

        <button type="submit" class="sf-button">
            Login
        </button>
    </form>
{% endblock %}
