.blogger-notice { 
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid;
    text-align: center;
    color: #4F8A10; 

    background: #DFF2BF;
}

form.blogger {
    font-size: 16px;

}
form.blogger div {
    clear: left;
    margin-bottom: 10px;

}
form.blogger label {
    width: 100px;
    float: left;

    margin-right: 10px;
    padding-top: 10px;

    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

form.blogger input[type="text"],
form.blogger input[type="email"] {
    width: 500px;
    min-height: 26px;

    line-height: 26px;
    font-size: 20px;
}

form.blogger textarea {
    width: 500px;
    height: 150px;

    line-height: 26px;
    font-size: 20px;
}

form.blogger input[type="submit"] {
    width: 508px;
    min-height: 26px;

    margin-left: 110px;

    line-height: 26px;
    font-size: 20px;
}

form.blogger ul li {
    margin-bottom: 5px;

    color: #ff0000;
}

.date {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;

    line-height: 30px;
    font-size: 24px;
    color: #666;

}
.blog {
    margin-bottom: 50px;

}
.blog img {
    width: 190px;
    float: left;

    padding: 5px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
}
.blog .meta {
    clear: left;
    margin-bottom: 20px;

}
.blog .snippet p.continue {
    margin-bottom: 0;
    text-align: right;

}
.blog .meta {
    font-style: italic;
    font-size: 12px;
    color: #666;

}
.blog .meta p {
    margin-bottom: 5px;
    line-height: 1.2em;

}
.blog img.large {
    width: 300px;
    min-height: 165px;

}

.comments {
    clear: both;

}
.comments .odd {
    background: #eee;

}
.comments .comment {
    padding: 20px;

}
.comments .comment p {
    margin-bottom: 0;

}
.comments h3 {
    clear: both;

    padding: 10px;
    margin-bottom: 20px;

    font-size: 20px;
    background: #eee;
}
.comments .previous-comments {
    margin-bottom: 20px;
}

